bcrypt==4.2.1
cryptography==46.0.2
email-validator==2.2.0
Flask==3.1.0
Flask-Login==0.6.3
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
gevent==25.9.1
gunicorn==23.0.0
Jinja2==3.1.4
mistletoe==1.4.0
mysqlclient==2.2.6
passlib[bcrypt]==1.7.4
pydantic-settings==2.6.1
python-dotenv==1.0.1
redis==6.4.0
requests==2.32.3
SQLAlchemy==2.0.36
WTForms==3.2.1
python-decouple==3.8
