apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-backend
  labels:
    name: api-backend
spec:
  replicas: 1 
  selector:
    matchLabels:
      name: api-backend
  template:
    metadata:
      labels:
        name: api-backend
    spec:
      subdomain: primary
      containers:
        - name: api-backend
          image: nabilm/sld-api:2.1.2
          resources:
            limits:
              memory: 600Mi
              cpu: 1
            requests:
              memory: 300Mi
              cpu: 500m
          imagePullPolicy: Always
          command: ["python3", "-m", "uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8000", "--workers", "1"]
          ports:
            - containerPort: 8000
          livenessProbe:
            httpGet:
              path: /api/v1/
              port: 8000
              httpHeaders:
              - name: status
                value: healthy
            initialDelaySeconds: 60
            periodSeconds: 60
