{% extends "layouts/base.html" %}

{% block title %} Deploys {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% block content %}
<main class="content">

    {% include 'includes/navigation.html' %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="btn-toolbar dropdown">
            <button class="btn btn-primary btn-sm mr-2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                                                                               aria-expanded="false">
                <span class="fas fa-plus mr-2"></span>New Task
            </button>
            <div class="dropdown-menu dashboard-dropdown dropdown-menu-left mt-2">
                {% if current_user.master or current_user.privilege %}
                <a class="dropdown-item font-weight-bold" href="users-new"><span class="fas fa-user-shield"></span>New
                    user account</a>
                <a class="dropdown-item font-weight-bold" href="stacks-new"><span class="fas fa-box-open"></span>New
                    Stack</a>
                {% endif %}
                <a class="dropdown-item font-weight-bold" href="stacks-list"><span class="fas fa-layer-group"></span>New
                    Deploy</a>
                <div role="separator" class="dropdown-divider"></div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item"><a href="#">Deploys</a></li>
                    <li class="breadcrumb-item active" aria-current="page">List</li>
                </ol>
            </nav>
            <h2 class="h4">All Deploys</h2>
            <p class="mb-0">List of all deployments</p>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group">
            </div>
        </div>
    </div>
    <div class="table-settings mb-4">
        <div class="row align-items-center justify-content-between">
            <div class="col col-md-6 col-lg-3 col-xl-4">
                <div class="input-group">
                    <span class="input-group-text" id="asic-addon2"><span class="fas fa-search"></span></span>
                    <input type="text" class="form-control" id="myInput" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
                </div>
            </div>
            <div class="col-4 col-md-2 col-xl-1 pl-md-0 text-right">

                <!-- refresh -->
                <span class="icon icon-sm">
                    <a class="nav-link icon-notifications text-dark" href="/deploys-list">
                        <span class="fas fa-redo-alt mr-1"></span></a>
                    <div class="btn-group">
                        <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="icon icon-sm icon-gray">
                                <span class="fas fa-cog"></span>
                            </span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-xs dropdown-menu-right">
                            <span class="dropdown-item font-weight-bold text-dark">Show</span>
                            <a class="dropdown-item d-flex font-weight-bold" href="/deploys-list">All <span
                                                                             class="icon icon-small ml-auto"><span class="fas fa-check"></span></span></a>
                            <a class="dropdown-item font-weight-bold" href="/deploys-list/5">5</a>
                            <a class="dropdown-item font-weight-bold" href="/deploys-list/55">10</a>
                            <a class="dropdown-item font-weight-bold" href="/deploys-list/75">20</a>
                            <a class="dropdown-item font-weight-bold" href="/deploys-list/90">30</a>
                            <a class="dropdown-item font-weight-bold" href="/deploys-list/100">40</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="card card-body border-light shadow-sm table-wrapper table-fixed table-responsive-sm pt-0">
        <table class="table table-striped"
            id="table"
	        data-toggle="table"
	        autoRefresh="true"
	        autoRefreshStatus="true"
            data-show-refresh="true" 
	        data-auto-refresh="true" 
	        data-pagination="true"
            autoRefreshInterval="3"
            >
            
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Deploy Name</th>
                    <th>Stack</th>
                    <th>Squad</th>
                    <th>Environment</th>
                    <th>Username</th>
                    <th>Start_time</th>
                    <th>Destroy_time</th>
                    <th>Action</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="myTable">
                <!-- Item -->
                {% for deploy in deploys| sort(attribute='id') %}

                <tr>
                    <td>
                        <a href="" class="font-weight-bold">
                            {{ deploy.id }}
                        </a>
                    </td>
                    <td>
                        <span class="font-weight-normal">{{ deploy.name }}</span>
                    </td>
                    <td><span class="font-weight-normal">
                            <a href="#" aria-disabled="true"
                               title="branch {{deploy.get('stack_branch')}}">
                               {{ deploy.stack_name }}
                            </a></span></td>
                    <!--<td><span class="font-weight-normal">{{ deploy.stack_name}}</span></td>-->
                    <td><span class="font-weight-normal">{{ deploy.squad}}</span></td>
                    <td><span class="font-weight-normal">{{ deploy.environment}}</span></td>
                    <td><span class="font-weight-normal">{{ deploy.username}}</span></td>
                    <td><span class="font-weight-bold">{{ deploy.start_time }}</span></td>
                    <td><span class="font-weight-bold">{{ deploy.destroy_time }}</span></td>
                    <td><span class="font-weight-normal">{{ deploy.action}}</span></td>
                    {% set status = task_status(deploy.task_id, token).result %}
                    {% if status == "SUCCESS" %}
                    <td><span class="font-weight-bold text-success">{{ status }}</span></td>
                    {% elif status == "ERROR" or (status == "FAILURE") %}
                    <td><span class="font-weight-bold text-danger">{{ status }}</span></td>
                    {% elif status == "RETRY" %}
                    <td><span class="font-weight-bold text-warning">{{ status }}</span></td>
                    {% else %}
                    <td><span class="font-weight-bold text-info ">{{ status }}</span></td>
                    {% endif %}
                    <td>
                        <!-- button group-->
                        <div class="btn-group">
                            <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-1 p-1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="icon icon-sm">
                                    <span class="fas fa-ellipsis-h icon-dark"></span>
                                </span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            {% if deploy.action == "Plan"%}
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ url_for('.edit_deploy',deploy_id=deploy.id)}}">
                                    <span class="fas fa-edit mr-2"></span>Edit</a>
                                <a class="dropdown-item" href="{{ url_for('.relaunch_deploy',deploy_id=deploy.id)}}">
                                    <span class="fas fa-sync mr-2"></span>Approve</a>
                                <a class="dropdown-item text-danger" data-toggle="modal"
                                                                     data-target="#DeleteModalCenter-{{deploy.id}}">
                                    <span class="fas fa-skull-crossbones mr-2"></span> delete </a>
                            </div>
                            {% elif deploy.action == "DryRun"%}
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ url_for('.edit_deploy',deploy_id=deploy.id)}}">
                                    <span class="fas fa-edit mr-2"></span>Edit</a>
                                <a class="dropdown-item" href="{{ url_for('.relaunch_deploy',deploy_id=deploy.id)}}">
                                    <span class="fas fa-sync mr-2"></span>ReDeploy</a>
                            </div>
                            {% else %}
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ url_for('.edit_deploy',deploy_id=deploy.id)}}">
                                    <span class="fas fa-edit mr-2"></span>Edit</a>
                                <a class="dropdown-item" href="{{ url_for('.relaunch_deploy',deploy_id=deploy.id)}}">
                                    <span class="fas fa-sync mr-2"></span>ReDeploy</a>
                                <a class="dropdown-item text-danger" data-toggle="modal"
                                                                     data-target="#DestroyModalCenter-{{deploy.id}}">
                                    <span class="fas fa-trash-alt mr-2"></span>Destroy</a>
                                <a class="dropdown-item text-danger" data-toggle="modal"
                                                                     data-target="#DeleteModalCenter-{{deploy.id}}">
                                    <span class="fas fa-skull-crossbones mr-2"></span> delete </a>
                            </div>
                            {% endif %}
                            <!-- Output-->
                            <span class="icon icon-sm">
                                <a title="Output Deploy" class="nav-link icon-notifications text-dark" data-toggle="modal"
                                                                                 data-target="#OutputModalCenter-{{deploy.id}}">
                                    <span class="fab fa-searchengin mr-0"></span></a>
                            </span>
                            <!-- Schedule -->
                            <span class="icon icon-sm">
                                <a title="Edit Schedule" class="dropdown-item" href="{{ url_for('.edit_schedule',deploy_id=deploy.id)}}">
                                    <span class="far fa-clock mr-0"></span></a>
                            </span>
                            {% if "yoda" in current_user.role or  "darth_vader" in current_user.role %}
                            <!-- Unlock-->
                            <span class="icon icon-sm">
                                <a title="Unlock Deploy" class="nav-link icon-notifications text-dark" data-toggle="modal"
                                                                                 data-target="#UnlockModalCenter-{{deploy.id}}">
                                    <span class="fas fa-unlock mr-0"></span></a>
                            </span>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                <!-- Modal Unlock-->
                <div class="modal fade" id="UnlockModalCenter-{{deploy.id}}">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="UnlockModalLongTitle-{{deploy.id}}">Unlock Deploy
                                                                                                {{deploy.name}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p> <strong>Acquires a state lock to protect the state from being written
                                by multiple users at the same time. Please resolve the issue and try
                                again. You can disable locking with the "Unlock botton", but this is not
                                                                                          recommended:</strong></p>
                                <p><strong>Are you sure? </strong></p>
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>

                                <form action="{{ url_for('.unlock_deploy', deploy_id=deploy.id)}}">
                                    <input type="submit" value="Unlock" class="btn btn-danger">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Output-->
                <div class="modal fade" id="OutputModalCenter-{{deploy.id}}">
                    <div class="modal-dialog modal-xl" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="OutputModalLongTitle-{{deploy.id}}">Output Deploy
                                    {{deploy.name}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" style="background-color: #040720; color: white;">
                                {% set stdout = task_log(deploy.task_id, token).result %}
                                {% if stdout is iterable and (stdout is not string and stdout is not mapping) %}
                                {%for i in stdout %}
                                    {% set stripped_line = i.strip() %}
                                    {% if stripped_line.startswith('+') %}
                                        <p><span class="plus"><strong>{{ i }}</strong></span></p>
                                    {% elif stripped_line.startswith('-') %}
                                        <p><span class="minus"><strong>{{ i }}</strong></span></p>
                                    {% elif stripped_line.startswith('~') %}
                                        <p><span class="tilde"><strong>{{ i }}</strong></span></p>
                                    {% else %}
                                        <p><strong>{{i}}</strong></p>
                                    {% endif %}
                                {% endfor %}
                                {% else %}
                                <p><strong>{{stdout}}</strong></p>
                                {% endif %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Destroy-->
                <div class="modal fade" id="DestroyModalCenter-{{deploy.id}}">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="DestroyModalLongTitle-{{deploy.id}}">Destroy Deploy
                                    {{deploy.name}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p><strong>This Deploy will be destroyed, could be regenerated later:</strong></p>
                                <p><strong>Are you sure? </strong></p>
                                <p> <small>Now, young Skywalker, you will die?</small></p>
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>

                                <form action="{{ url_for('.destroy_deploy', deploy_id=deploy.id)}}">
                                    <input type="submit" value="Destroy" class="btn btn-danger">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Delete-->
                <div class="modal fade" id="DeleteModalCenter-{{deploy.id}}">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="DeleteModalLongTitle-{{deploy.id}}">Delete Deploy
                                    {{deploy.name}} Permanently</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p><strong>If you destroy before delete would be better.
                                    This Deploy will be deleted permanently and cannot be recovered later:</strong>
                                </p>
                                <p><strong>Are you sure? </strong></p>
                                <p> <small>Fear is the path to the dark side. Fear leads to anger;
                                    anger leads to hate; hate leads to suffering. I sense much fear in you</small>
                                </p>
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>

                                <form action="{{ url_for('.delete_deploy', deploy_id=deploy.id)}}">
                                    <input type="submit" value="Delete" class="btn btn-danger">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </tbody>
        </table>
        <div class="card-footer px-3 border-0 d-flex align-items-center justify-content-between">
            <nav aria-label="Page navigation example">
                <ul class="pagination mb-0">
                    <li class="page-item">
                    </li>
                    <li class="page-item active">
                    </li>
                    <li class="page-item">
                    </li>
                    <li class="page-item">
                    </li>
                    <li class="page-item">
                    </li>
                    <li class="page-item">
                    </li>
                    <li class="page-item">
                    </li>
                </ul>
            </nav>
            <div class="font-weight-bold small"></div>
        </div>
    </div>
 <!-- Pagination -->
<nav>
  <ul class="pagination">
    <li class="page-item" id="previous-page"><a class="page-link" href="#">Previous</a></li>
    <!-- Page numbers will be dynamically inserted here -->
    <li class="page-item" id="next-page"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>


    {% include 'includes/footer.html' %}

</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  $(document).ready(function(){
    var rowsPerPage = 10; // Valor inicial
    var rows = $('#myTable tr');
    var filteredRows = rows; // Inicialmente, todas las filas son el conjunto filtrado
    var pagesCount;
    var currentPage = 1;

    function displayPage(page) {
      var start = (page - 1) * rowsPerPage;
      var end = start + rowsPerPage;
      rows.hide();
      filteredRows.slice(start, end).show();
    }

    function setupPagination() {
      pagesCount = Math.ceil(filteredRows.length / rowsPerPage);
      $('.pagination .number-page').remove(); // Remove old page numbers
      for (var i = 1; i <= pagesCount; i++) {
        $('<li class="page-item number-page"><a class="page-link" href="#">' + i + '</a></li>')
          .insertBefore("#next-page")
          .on('click', function(e) {
            e.preventDefault();
            currentPage = parseInt($(this).text());
            displayPage(currentPage);
            $(".pagination .number-page").removeClass('active');
            $(this).addClass('active');
          });
      }
      displayPage(1);
    }

    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      filteredRows = rows.filter(function() {
        return $(this).text().toLowerCase().indexOf(value) > -1;
      });
      currentPage = 1; // Reset to first page
      setupPagination();
    });

    // Handle row per page selection
    $(".dropdown-menu a").on("click", function(e) {
      e.preventDefault();
      var selectedValue = $(this).text().trim();
      rowsPerPage = selectedValue.toLowerCase() === 'all' ? rows.length : parseInt(selectedValue);
      currentPage = 1; // Reset to first page
      setupPagination();
    });

    // Setup initial pagination
    setupPagination();

    // Previous and Next button logic
    $("#previous-page").on('click', function(e) {
      e.preventDefault();
      if (currentPage > 1) {
        currentPage--;
        displayPage(currentPage);
      }
    });

    $("#next-page").on('click', function(e) {
      e.preventDefault();
      if (currentPage < pagesCount) {
        currentPage++;
        displayPage(currentPage);
      }
    });
  });
</script>


{% endblock javascripts %}
