{% extends "layouts/base.html" %}
{% from 'helpers/_forms.html' import render_field %}

{% block title %} Edit Deploy {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<main class="content">

    {% include 'includes/navigation.html' %}

    <div class="py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                <li class="breadcrumb-item"><a href="/deploys-list.html">Deploy</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit</li>
            </ol>
        </nav>
        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <h1 class="h4">Deploy Edit</h1>
            </div>
            <div>
                <a href="" class="btn btn-outline-gray"><i class="far fa-question-circle mr-1"></i> Deploy Docs</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-4">
            <div class="card border-light shadow-sm components-section">
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-lg-4 col-sm-6">
                            <!-- Form -->
                            <div class="col-md-12 col-md-offset-1">
                                <h3>{{deploy.name}}</h3>
                                <form class="" method="post">
                                    <div class="form-group">
                                        {{ render_field(form.start_time, class='form-control', value=deploy.start_time)
                                        }}
                                    </div>

                                    <div class="form-group">
                                        {{ render_field(form.destroy_time, class='form-control',
                                        value=deploy.destroy_time) }}
                                    </div>
                                    {% for key, value in data_json.items() %}
                                    <div class="form-group">
                                        <span style="text-transform:capitalize">
                                            <h6><strong>{{key}}</strong></h6>
                                        </span>
                                        <input type="text" value="{{ value }}" name={{ key }} class='form-control'
                                            placeholder={{key}}>
                                    </div>
                                    {% endfor %}
                                    <button type="submit" class="btn btn-primary" name="button"
                                        action="{{url_for('.plan')}}">
                                        Deploy
                                    </button>

                                </form>
                            </div>

                            <!-- End Form -->

                            <div class="input-group">
                            </div>
                        </div>
                    </div>
                </div>

                {% include 'includes/footer.html' %}

</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
