<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Primary Meta Tags -->
    <title>
        Stack Lifecycle Deployment - welcome pack
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Stack Lifecycle Deployment - welcome pack">
    <meta name="description"
        content="Stack Lifecycle Deployment help for deploy terraform stack or modules user friendly mode">

    <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/assets/img/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- Fontawesome -->
    <link type="text/css" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Notyf -->
    <link type="text/css" href="/static/assets/vendor/notyf/notyf.min.css" rel="stylesheet">

    <!-- Volt CSS -->
    <link type="text/css" href="/static/assets/css/volt.css" rel="stylesheet">

    <!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->

</head>

<body>

    <header class="header-global">

        <nav id="navbar-main" aria-label="Primary navigation"
            class="navbar navbar-main navbar-expand-lg navbar-theme-primary pt-4 navbar-dark">
            <div class="container position-relative">
                <div class="navbar-collapse collapse mr-auto" id="navbar_global">
                    <div class="navbar-collapse-header">
                        <div class="row">
                            <div class="col-6 collapse-brand">
                            </div>
                            <div class="col-6 collapse-close">
                                <a href="#navbar_global" class="fas fa-times" data-toggle="collapse"
                                    data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false"
                                    title="close" aria-label="Toggle navigation"></a>
                            </div>
                        </div>
                    </div>
                    <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                        <li class="nav-item mr-2">
                            <a href="/dashboard" class="nav-link">Dashboard</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a href="/stacks-list" class="nav-link">Stacks</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a href="/deploys-list" class="nav-link">Deploy</a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex align-items-center ml-auto">
                    <a href="{{external_api_dns}}" target="_blank" class="btn btn-secondary text-dark mr-md-3">
                        <span class="fas fa-cubes mr-2"></span>
                        API Doc
                    </a>
                    <a href="{{ url_for('base_blueprint.logout') }}" class="btn btn-outline-soft d-none d-lg-block">
                        <span class="fas fa-sign-out-alt mr-2"></span> Logout</a>
                    <button class="navbar-toggler ml-2" type="button" data-toggle="collapse"
                        data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </nav>

    </header>

    <main>

        <div class="preloader bg-soft flex-column justify-content-center align-items-center">
            <img class="loader-element animate__animated animate__jackInTheBox" src="/static/assets/img/brand/light.svg"
                height="60" alt="stack_logo">
        </div>

        <!-- Hero -->
        <section class="section-header pb-9 pb-lg-12 bg-primary text-white">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <img class="navbar-brand-dark mb-4" src="/static/assets/img/brand/light.svg" height="120"
                            alt="Logo light">
                        <h1 class="display-1">Stack Lifecycle Deployment </h1>
                        <div class="mb-5">
                            <h2 class="h4 text-muted mr-4">Defines and manages the complete lifecycle of resources used
                                by and provisioned into a cloud</h2>
                        </div>
                        <!-- Button Modal -->
                        <div class="d-flex justify-content-center align-items-end flex-wrap mb-6">
                            <a href="/dashboard.html" class="btn btn-secondary text-dark mr-4 mb-3 mb-lg-0"><span
                                    class="fas fa-chart-line mr-2 d-none d-sm-inline"></span> Dashboard</a>
                        </div>
                    </div>
                </div>
            </div>
            <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2"><svg class="fill-white"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 185.4">
                    <path d="M3000,0v185.4H0V0c496.4,115.6,996.4,173.4,1500,173.4S2503.6,115.6,3000,0z"></path>
                </svg></figure>
        </section>
        <div class="section pt-0">
            <div class="container mt-n10 mt-lg-n12 z-2">
                <div class="row justify-content-center">
                    <div class="col-12">
                    </div>
                </div>
            </div>
        </div>
        <section class="section section-sm pt-0">
            <div class="container">
                <div class="row justify-content-center mb-5 mb-lg-6">
                </div>
                <div class="row mb-5">
                </div>
        </section>
        </section>
    </main>
    {% include 'includes/scripts.html' %}
</body>

</html>
