<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Primary Meta Tags -->
    <title>
        Stack Lifecycle Deployment - welcome pack
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Stack Lifecycle Deployment - welcome pack">
    <meta name="description"
        content="Stack Lifecycle Deployment help for deploy terraform stack or modules user friendly mode">

    <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/assets/img/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- Fontawesome -->
    <link type="text/css" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Notyf -->
    <link type="text/css" href="/static/assets/vendor/notyf/notyf.min.css" rel="stylesheet">

    <!-- Volt CSS -->
    <link type="text/css" href="/static/assets/css/volt.css" rel="stylesheet">

    <!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->

</head>

<body>

    <header class="header-global">

        <nav id="navbar-main" aria-label="Primary navigation"
            class="navbar navbar-main navbar-expand-lg navbar-theme-primary pt-4 navbar-dark">
            <div class="container position-relative">
                <div class="navbar-collapse collapse mr-auto" id="navbar_global">
                    <div class="navbar-collapse-header">
                        <div class="row">
                            <div class="col-6 collapse-brand">
                            </div>
                            <div class="col-6 collapse-close">
                                <a href="#navbar_global" class="fas fa-times" data-toggle="collapse"
                                    data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false"
                                    title="close" aria-label="Toggle navigation"></a>
                            </div>
                        </div>
                    </div>
                    <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                        <li class="nav-item mr-2">
                        <strong>
                            <a href="/dashboard" class="nav-link" style="font-size: 1.2em;">Dashboard</a>
                        </strong>
                        </li>
                        <li class="nav-item mr-2">
                        <strong>
                            <a href="/stacks-list" class="nav-link" style="font-size: 1.2em;">Stacks</a>
                        </strong>
                        </li>
                        <li class="nav-item mr-2">
                        <strong>
                            <a href="/deploys-list" class="nav-link" style="font-size: 1.2em;">Deploy</a>
                        </strong>
                        </li>
                    </ul>
                </div>

                <div class="d-flex align-items-center ml-auto">
                    <a href="{{external_api_dns}}" target="_blank" class="btn btn-secondary text-dark mr-md-3">
                        <span class="fas fa-cubes mr-2"></span>
                        API Doc
                    </a>
                    <a href="{{ url_for('base_blueprint.logout') }}" class="btn btn-outline-soft d-none d-lg-block">
                        <span class="fas fa-sign-out-alt mr-2"></span> Logout</a>
                    <button class="navbar-toggler ml-2" type="button" data-toggle="collapse"
                        data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </nav>

    </header>
    

    <main>

        <!-- Hero -->
        <section id="particles-js" class="section-header  text-white">
                    <div class="col-12 text-center">
                        <i class="fas fa-layer-group navbar-brand-dark mb-1" style="font-size: 8rem; background: linear-gradient(99deg, #7f1f99, #fa5252, #3300ff); -webkit-background-clip: text; color: transparent;"></i>



                        <h1 class="display-1">Stack Lifecycle Deployment </h1>
                        <div class="mb-5">
                            <h2 class="h4 text-muted mr-4">Defines and manages the complete lifecycle of resources used
                                by and provisioned into a cloud</h2>
                        </div>
                        <!-- Button Modal -->
                        <div class="d-flex justify-content-center align-items-end flex-wrap mb-6">
                            <a href="/dashboard.html" class="btn btn-secondary text-dark mr-4 mb-3 mb-lg-0"><span
                                    class="fas fa-chart-line mr-2 d-none d-sm-inline"></span> Dashboard</a>
                        </div>
                    </div>
                </div>
        </section>
    </main>
</body>
<script src="/static/assets/js/particles.js"></script>
<script src="/static/assets/js/app.js"></script>

</html>
