{% extends "layouts/base.html" %}
{% from 'helpers/_forms.html' import render_field %}

{% block title %} New Stacks {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<main class="content">

    {% include 'includes/navigation.html' %}
    <div class="preloader bg-soft flex-column justify-content-center align-items-center">
        <img class="loader-element animate__animated animate__jackInTheBox" src="/static/assets/img/brand/light.svg" height="60" alt="Volt logo">
    </div>

    <div class="py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                <li class="breadcrumb-item"><a href="/stacks-list">Stacks</a></li>
                <li class="breadcrumb-item active" aria-current="page">New</li>
            </ol>
        </nav>
        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <h1 class="h4">Add New Stack</h1>
                <p class="mb-0">Add reusable stacks or modules built to provide easy way to deployment infra</p>
            </div>
            <div>
                <a href="" class="btn btn-outline-gray"><i class="far fa-question-circle mr-1"></i> Stack Docs</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-4">
            <div class="card border-light shadow-sm components-section">
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-lg-4 col-sm-6">
                            <!-- Form -->
                            <div class="col-md-12 col-md-offset-1">
                                <form class="" id="stackForm" method="post" onsubmit="return checkForm(this);">
                                    <div class="form-group">
                                        {{ render_field(form.name, autocomplete="off", class='form-control', placeholder='Stack name') }}
                                    </div>

                                    <div class="form-group">
                                        {{ render_field(form.git, autocomplete="off", class='form-control', placeholder='Git repo') }}
                                    </div>

                                    <div class="form-group">
                                        {{ render_field(form.branch, autocomplete="off", class='form-control', value='master') }}
                                    </div>

                                    <div class="form-group">
                                        {{ render_field(form.squad_access, autocomplete="off", class='form-control') }}
                                    </div>

                                    <div class="form-group">
                                        {{ render_field(form.tf_version, autocomplete="off", class='form-control', value='1.1.7') }}
                                    </div>

                                    <div class="form-group">
                                        {{ render_field(form.description, autocomplete="off", class='form-control', placeholder='Description') }}
                                    </div>

                                    <input class="btn btn-primary" type="submit" name="stackButton" value="Create Stack">
                                </form>
                                <!-- End Form -->

                                <div class="input-group">
                                </div>
                            </div>
                        </div>
                    </div>

                    {% include 'includes/footer.html' %}

</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript">

    function checkForm(form) // Submit button clicked
{

    form.stackButton.disabled = true;
    form.stackButton.value = "Please wait...";
    return true;
}

</script>
{% endblock javascripts %}
