{% extends "layouts/base.html" %}
{% from 'helpers/_forms.html' import render_field %}

{% block title %} New Stacks {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<main class="content">

    {% include 'includes/navigation.html' %}

    <div class="py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                <li class="breadcrumb-item"><a href="/stacks-list">Stacks</a></li>
                <li class="breadcrumb-item active" aria-current="page">New</li>
            </ol>
        </nav>
        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <h1 class="h4">Deploy Stack</h1>
                <p class="mb-0">Add reusable stacks or modules built to provide easy way to deployment infra</p>
            </div>
            <div>
                <a href="" class="btn btn-outline-gray"><i class="far fa-question-circle mr-1"></i> Stack Docs</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mb-4">
            <div class="card border-light shadow-sm components-section">
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-lg-4 col-sm-6">
                            <!-- Form -->
                            <div class="col-md-12 col-md-offset-1">
                                <h3>Stack {{ stack['json']['stack_name'] }}</h3>
                                <form class="" method="post">


                                    <div class="form-group">
                                        {{ render_field(form.deploy_name, autocomplete="off", class='form-control', placeholder='Deploy name') }}
                                    </div>
                                    <!-- Specific AWS account  -->
                                    {% set aws_squad_status_before = [] %}
                                    {% if "aws" in stack['json']['stack_name']  %}
                                    {% for aws_account in aws_content %}
                                    {% set __ = aws_squad_status_before.append(aws_account.squad) %}
                                    {% endfor %}
                                    <div class="form-group">
                                        <h6><strong>Squad</strong></h6>
                                        <select class="form-control" name=squad v-model="squad">
                                            {% for aws_squad in aws_squad_status_before|unique %}
                                            <option value={{ aws_squad }}>{{ aws_squad }}</option>
                                            {% endfor %}
                                        </select>
                                        </label>
                                    </div>

                                    {% set aws_env_status_before = [] %}
                                    {% for aws_account in aws_content %}
                                    {% set __ = aws_env_status_before.append(aws_account.environment) %}
                                    {% endfor %}
                                    <div class="form-group">
                                        <h6><strong>Environment</strong></h6>
                                        <select class="form-control" name=environment v-model="environment">
                                            {% for aws_env in aws_env_status_before|unique %}
                                            <option value={{ aws_env }}>{{ aws_env }}</option>
                                            {% endfor %}
                                        </select>
                                        </label>
                                    </div>
                                    {% endif %}

                                   <!-- Specific FE account  -->
                                   {% set fe_squad_status_before = [] %}
                                   {% if "fe" in stack['json']['stack_name']  %}
                                   {% for fe_account in fe_content %}
                                   {% set __ = fe_squad_status_before.append(fe_account.squad) %}
                                   {% endfor %}
                                   <div class="form-group">
                                       <h6><strong>Squad</strong></h6>
                                       <select class="form-control" name=squad v-model="squad">
                                           {% for fe_squad in fe_squad_status_before|unique %}
                                           <option value={{ fe_squad }}>{{ fe_squad }}</option>
                                           {% endfor %}
                                       </select>
                                       </label>
                                   </div>

                                   {% set fe_env_status_before = [] %}
                                   {% for fe_account in fe_content %}
                                   {% set __ = fe_env_status_before.append(fe_account.environment) %}
                                   {% endfor %}
                                   <div class="form-group">
                                       <h6><strong>Environment</strong></h6>
                                       <select class="form-control" name=environment v-model="environment">
                                           {% for fe_env in fe_env_status_before|unique %}
                                           <option value={{ fe_env }}>{{ fe_env }}</option>
                                           {% endfor %}
                                       </select>
                                       </label>
                                   </div>
                                   {% endif %}
                                    <!-- Specific GCP account  -->
                                    {% set gcp_squad_status_before = [] %}
                                    {% if "gcp" in  stack['json']['stack_name'] %}
                                    {% for gcp_account in gcp_content %}
                                    {% set __ = gcp_squad_status_before.append(gcp_account.squad) %}
                                    {% endfor %}
                                    <div class="form-group">
                                        <h6><strong>Squad</strong></h6>
                                        <select class="form-control" name=squad v-model="squad">
                                            {% for gcp_squad in gcp_squad_status_before|unique %}
                                            <option value={{ gcp_squad }}>{{ gcp_squad }}</option>
                                            {% endfor %}
                                        </select>
                                        </label>
                                    </div>

                                    {% set gcp_env_status_before = [] %}
                                    {% for gcp_account in gcp_content %}
                                    {% set __ = gcp_env_status_before.append(gcp_account.environment) %}
                                    {% endfor %}
                                    <div class="form-group">
                                        <h6><strong>Environment</strong></h6>
                                        <select class="form-control" name=environment v-model="environment">
                                            {% for gcp_env in gcp_env_status_before|unique %}
                                            <option value={{ gcp_env }}>{{ gcp_env }}</option>
                                            {% endfor %}
                                        </select>
                                        </label>
                                    </div>
                                    {% endif %}
                                    <!-- Specific AZURE account  -->
                                    {% set azure_squad_status_before = [] %}
                                    {% if "azure" in stack['json']['stack_name'] %}
                                    {% for azure_account in azure_content %}
                                    {% set __ = azure_squad_status_before.append(azure_account.squad) %}
                                    {% endfor %}
                                    <div class="form-group">
                                        <h6><strong>Squad</strong></h6>
                                        <select class="form-control" name=squad v-model="squad">
                                            {% for azure_squad in azure_squad_status_before|unique %}
                                            <option value={{ azure_squad }}>{{ azure_squad }}</option>
                                            {% endfor %}
                                        </select>
                                        </label>
                                    </div>

                                    {% set azure_env_status_before = [] %}
                                    {% for azure_account in azure_content %}
                                    {% set __ = azure_env_status_before.append(azure_account.environment) %}
                                    {% endfor %}
                                    <div class="form-group">
                                        <h6><strong>Environment</strong></h6>
                                        <select class="form-control" name=environment v-model="environment">
                                            {% for azure_env in azure_env_status_before|unique %}
                                            <option value={{ azure_env }}>{{ azure_env }}</option>
                                            {% endfor %}
                                        </select>
                                        </label>
                                    </div>
                                    {% endif %}



                                    <div class="form-group">
                                        {{ render_field(form.start_time, autocomplete="off",
                                        class='form-control', value='30 7 * * 0-4') }}
                                    </div>

                                    <div class="form-group">
                                        {{ render_field(form.destroy_time, autocomplete="off",
                                        class='form-control', value='30 18 * * 0-4') }}
                                    </div>

                                    <div class="form-group">
                                        {{ render_field(form.branch, autocomplete="off",
                                        class='form-control', placeholder='Branch name',
                                        value=stack['json']['branch']) }}
                                    </div>
                                    <div class="form-group">
                                        {{ render_field(form.project_path, autocomplete="off",
                                        class='form-control', placeholder='Project path name',
                                        value="") }}
                                <p>
                                <a class="btn btn-primary" data-toggle="collapse"
                                   data-target="#variables" href="#collapseExample"
                                   role="button" aria-expanded="false" aria-controls="collapseExample">
                                   Use Variables Form
                                </a>
                                <button class="btn btn-primary" type="button" data-toggle="collapse"
                                 data-target="#tfvars" aria-expanded="false" aria-controls="collapseExample">
                                   Use custom tfvars file
                                </button>
                                </p>
                                    <!-- Collapse Tfvars -->
                                <div class="collapse" id="tfvars">
                                <h3>Tfvars</h3>
                                <footer class="blockquote-footer">
                                 Indicates the path and name of the tfvar file
                                </footer>
                                    <div class="border-top my-4"></div>
                                    <div class="form-group">
                                        {{ render_field(form.tfvar_file, autocomplete="off",
                                        class='form-control', value='') }}
                                    </div>
                                <div class="border-top my-4"></div>
                                <button type="submit" class="btn btn-success" name="button"
                                 value=plan action="{{url_for('.list_deploys')}}">
                                   Plan
                                </button>
                                <button type="submit" class="btn btn-primary" name="button" 
                                 value=deploy action="{{url_for('.list_deploys')}}">
                                   Deploy
                                </button>
                                </div>
                                </div>
                                    <!-- Collapse Variables -->
                                <div class="collapse" id="variables">
                                <h3>Variables</h3>
                                <footer class="blockquote-footer">
                                 Complete the form with the variables
                                </footer>
                                    <div class="border-top my-4"></div>
                                    <!-- start SLD_SORT False -->
                                    {% if not sort_form %}
                                    {% for key, value in data_json.items()%}
                                    <div class="form-group">
                                        <p class="mb-110"><h6><strong>{{key}}</strong></h6></p>
                                        <footer class="blockquote-footer"> {{value.get('description', "").split('|')[-1]}}</footer>

                                        {% for k, v in value.items() %}
                                            {% if v == "bool" %}
                                                <input type="text" value={{value.get("default")|lower}}
                                            {% elif "default" in k %}
                                                <input type="text" value="{{ v }}"
                                            {% elif "passw" in key %}
                                                <input type="password"
                                            {% elif "type" in k %}
                                                <input type="text" title="{{k}} {{v}} "
                                            {% else %}
                                                <input type="text"
                                            {% endif %}
                                        {% endfor %}
                                        name={{ key }} class='form-control'>
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                    <!-- END SLD_SORT False -->
                                    <!-- start SLD_SORT True -->
                                    {% if sort_form %}
                                        {% for key, value in data_json.items()|sort(attribute='1.description') %}
                                            {% if value.get('description').split('|')[1] %}
                                                 <div class="border-top my-4"></div>
                                                 <h5>{{value.get('description').split('|')[1]}}</h4>
                                                <div class="border border-dark"></div>
                                            {% endif %}
                                            <div class="form-group">
                                            <p class="mb-110"><h6><strong>{{key}}</strong></h6></p>
                                            <footer class="blockquote-footer"> {{value.get('description', "").split('|')[-1]}}</footer>
                                            {% for k, v in value.items() %}
                                                {% if v == "bool" %}
                                                    <input type="text" value={{value.get("default")|lower}}
                                                {% elif "default" in k %}
                                                    <input type="text" value="{{ v }}"
                                                {% elif "passw" in key %}
                                                    <input type="password"
                                                {% elif "type" in k %}
                                                    <input type="text" title="{{k}} {{v}}"
                                                {% else %}
                                                    <input type="text"
                                                {% endif %}
                                            {% endfor %}
                                            name={{ key }} class='form-control' autocomplete="off">
                                        </div>
                                        {% endfor %}
                                    {% endif %}
                                 <div class="border-top my-4"></div>
                          <button type="submit" class="btn btn-success" name="button" value=plan action="{{url_for('.list_deploys')}}">
                              Plan
                          </button>
                          <button type="submit" class="btn btn-primary" name="button" value=deploy action="{{url_for('.list_deploys')}}">
                              Deploy
                          </button>
                    </form>
                    </div>
                            <!-- End Form -->
                    </div>

                            <div class="input-group">
                            </div>
                        </div>
                    </div>
                </div>

                {% include 'includes/footer.html' %}

</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
