{% extends "layouts/base.html" %}
{% from 'helpers/_forms.html' import render_field %}

{% block title %} Edit Stack {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/css/readme.css">

{% endblock stylesheets %}
{% block content %}
<main class="content">

    {% include 'includes/navigation.html' %}

    <div class="py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                <li class="breadcrumb-item"><a href="/stacks-list.html">Stack</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit</li>
            </ol>
        </nav>
        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <h1 class="h4">Stack Details</h1>
            </div>
            <div>
                <a href="" class="btn btn-outline-gray"><i class="far fa-question-circle mr-1"></i> Stack Docs</a>
            </div>
        </div>
    </div>



<pre><code class="language-html">
<div class="d-flex justify-content-between w-100 flex-wrap">
    <div class="card mb-1">
        <div class="card-body">
            <h5 class="card-title">{{stack.stack_name}}</h5>
            <p class="card-text">{{stack.description}}</p>
        </div>
    </div>
    <div class="card mb-1">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">{{stack.git_repo}}</h6>
            <p class="card-text">{{stack.branch}}</p>
        </div>
    </div>
    <div class="card mb-1">
        <div class="card-body">
            <p class="card-text">{{stack.iac_type}}</p>
            <p class="card-text">{{stack.tf_version}}</p>
            <p class="card-text">{{stack.squads}}</p>
        </div>
    </div>
</div>
<div class="col-lg-4 col-sm-6">

    {{ readme_html | safe }}

    </div>

<div class="col-lg-4 col-sm-6">
    <div class="input-group">
    </div>
</div>
</code></pre>

                {% include 'includes/footer.html' %}

</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
