aiofiles==0.8.0
aioredis==2.0.1
amqp==5.1.0
ansible==5.5.0
ansible-base==2.10.17
ansible-core==2.12.4
ansible-runner==1.4.7
anyio==3.5.0
asgiref==3.5.0
async-timeout==4.0.2
attrs==21.4.0
bcrypt==3.2.0
billiard==3.6.4.0
cached-property==1.5.2
celery==5.2.5
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
configobj==5.0.6
croniter==1.3.4
cryptography==36.0.2
Deprecated==1.2.13
dnspython==2.2.1
docutils==0.18.1
ecdsa==0.17.0
email-validator==1.1.3
fastapi==0.75.1
fastapi-limiter==0.1.4
fastapi-versioning==0.10.0
future==0.18.2
gevent==21.12.0
greenlet==1.1.2
h11==0.13.0
h5py==3.6.0
hiredis==2.0.0
humanize==4.0.0
idna==3.3
iniconfig==1.1.1
install==1.3.5
Jinja2==3.1.1
jmespath==1.0.0
kombu==5.2.4
lockfile==0.12.2
MarkupSafe==2.1.1
mysqlclient==2.1.0
natsort==8.1.0
numpy==1.22.3
packaging==21.3
passlib==1.7.4
pexpect==4.8.0
pluggy==1.0.0
prometheus-client==0.13.1
prompt-toolkit==3.0.29
psutil==5.9.0
ptyprocess==0.7.0
py==1.11.0
pyasn1==0.4.8
pycparser==2.21
pydantic==1.9.0
pyhcl==0.4.4
PyJWT==2.3.0
PyMySQL==1.0.2
pyparsing==3.0.7
pytest==7.1.1
python-daemon==2.3.0
python-dateutil==2.8.2
python-jose==3.3.0
python-multipart==0.0.5
pytz==2022.1
PyYAML==6.0
redis==4.2.2
requests==2.27.1
resolvelib==0.5.4
rsa==4.8
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.34
starlette==0.17.1
toml==0.10.2
tomli==2.0.1
tornado==6.1
tree-format==0.1.2
typing_extensions==4.1.1
urllib3==1.26.9
uvicorn==0.17.6
vine==5.0.0
wcwidth==0.2.5
wrapt==1.14.0
zope.event==4.5.0
zope.interface==5.4.0
