bcrypt==4.2.1
boto3==1.35.80
celery==5.5.3
click==8.1.8
cryptography==46.0.2
dependency-injector==4.43.0
email-validator==2.2.0
fastapi==0.118.0
Jinja2==3.1.4
mysqlclient==2.2.6
passlib[bcrypt]==1.7.4
password-strength==0.0.3.post2
pydantic==2.10.3
pydantic-settings==2.6.1
pyhcl==0.4.5
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-hcl2==7.3.1
python-jose==3.5.0
python-multipart==0.0.20
PyYAML==6.0.2
redis==6.4.0
requests==2.32.3
SQLAlchemy==2.0.36
uvicorn==0.37.0
pytest==8.3.4
croniter==6.0.0
