aioredis==2.0.1
amqp==5.1.1
anyio==3.6.1
async-timeout==4.0.2
attrs==22.1.0
bcrypt==4.0.0
billiard==3.6.4.0
celery==5.2.7
certifi==2022.9.14
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
croniter==1.3.7
cryptography==38.0.1
Deprecated==1.2.13
dnspython==2.2.1
ecdsa==0.18.0
email-validator==1.3.0
fastapi==0.85.0
fastapi-limiter==0.1.4
fastapi-versioning==0.10.0
greenlet==1.1.3
h11==0.13.0
idna==3.4
iniconfig==1.1.1
Jinja2==3.1.2
jmespath==1.0.1
kombu==5.2.4
MarkupSafe==2.1.1
mysqlclient==2.1.1
packaging==21.3
passlib==1.7.4
pluggy==1.0.0
prompt-toolkit==3.0.31
py==1.11.0
pyasn1==0.4.8
pycparser==2.21
pydantic==1.10.2
pyhcl==0.4.4
PyJWT==2.5.0
PyMySQL==1.0.2
pyparsing==3.0.9
pytest==7.1.3
python-dateutil==2.8.2
python-jose==3.3.0
python-multipart==0.0.5
pytz==2022.2.1
redis==4.3.4
requests==2.28.1
rsa==4.9
six==1.16.0
sniffio==1.3.0
SQLAlchemy==1.4.41
starlette==0.20.4
tomli==2.0.1
typing_extensions==4.3.0
urllib3==1.26.12
uvicorn==0.18.3
vine==5.0.0
wcwidth==0.2.5
wrapt==1.14.1
